body {
    font: 11px sans-serif;
    padding-left:10px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.dot.selected {
    fill: #F00;
    fill-opacity: 1;
}
.dot {
    fill: #000;
}

.dot.user_clicked{
    fill: #255;
    stroke: #FF0;


}
.tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
}

.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

#geneinput {
    border-right: 1px ;

}

#topRow {
    height: 500px;
}

textarea {
    resize: none;
}

.axisform {
    padding-left : 20px;
    height : 100%;
    position:relative;
    top:0px;
}


input[type="radio"] {
  margin-top: 1px;
  vertical-align: middle;
}



.download {

    font-size: x-small;

}
